/* 
    Created on : Dec 5, 2020, 1:04:43 PM
    Author     : Jamie
*/

html {
    height: 100%;
}

body{
    /*background-color: #f2f7f4;*/
    background-image: linear-gradient(-152deg, #6937EA 0%, #377FEA 65%); 
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-152deg, #6937EA 0%, #377FEA 65%);
    background-size: cover;
    background-repeat: no-repeat;
    /*color: white;*/
}


.navbar{
    padding: 0;
    background-color: transparent !important;    
    border-bottom: 2px solid #826de8;
}


.navbar-brand > a:hover {
    text-decoration: none;
}

.BrandName{
    font-size: 30px !important;
    font-family: 'Nova Mono', monospace;
    /*font-weight: bold;*/
    color: white;
}

.navbar-toggler {
    margin-right: 10px;
}

/*.navbar-toggler:hover {
    background-color: #582ee6;
}*/

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
}

.navbar-toggler > i {
    color: white;
}

.navbar-brand{
    margin-left: 10px;
}

.navbar-nav {
    display: inline-flex;
    flex-flow: row;
}

.nav-item{
    padding: 10px 5px;
    margin: 0px 10px;
}


.nav-item.active {
    font-weight: bold;
}

#UserName {
    color: #46f255;
    /*font-weight: bold;*/
}

#LogoutButton {
    background:transparent; 
    border:0 none;
    cursor:pointer;
    margin: 7px 0px;
    color: #AAABF5;
}

#LogoutButton:hover {
    outline: none;
    color: white;
}


.content-wrapper {
    height: 80% !important;
    margin: 10px auto;
    background-color: #e8eefc !important;
    border-radius: 10px;
    padding: 20px;
}

.MainContent {
    margin: 20px;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: #18212B;
   color: white;
   font-size: 10px;
   text-align: center;
}
