/* 
    Created on : Dec 15, 2020, 4:42:16 PM
    Author     : Jamie
*/

.data-num {
    font-style: italic;
    color: forestgreen;
}

.FormTable table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

.FormTable th {
    text-align: center;
    background-color: lightseagreen;
    color: white;
}
#services-price{
    position: relative;
    width: 100%;
}
#services-price tr{
    position: relative;
}
.FormTable td:nth-child(5),
#cancel-surgery td:nth-child(4),
#services-price td:nth-child(4){
    text-align: right;
}

.FormTable td:last-child{
    text-align: center;
}

#cancel-surgery td:first-child{
    text-align: center;
}

#services-price td:nth-child(3){
    text-transform: capitalize;
}

#services-price input[type="number"] {
    width: 150px;
    border: 1px solid #f7fffe;
    border-radius: 5px;
    outline: none;
    text-align: right;
    padding: 2px 5px;    
}

td.changed {
    background-color: lightgreen;  
}

.FormTable input[type="submit"]{
    margin: 20px auto 0;
    display: block;
    width: 150px;
    font-size: 20px;
    background-color: #59B259;    
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
}
.FormTable td, .FormTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr.changed {
    background-color: lightgreen;  
}
table#client-table tr>td{
    width: 200px;
    text-alig:center;
}
#cancel-surgery td:nth-child(4),
#staff-table td:nth-child(6){
    text-align: right;
}

.FormTable td:first-child,
.FormTable td:last-child,
#staff-table td:nth-child(5),
#staff-table td:nth-child(7){
    text-align: center;
}

#staff-table td:nth-child(5){
    text-transform: capitalize;
}

#staff-table input[type="number"] {
    width: 85px;
    border: none;
    background-color: #E1E8F6;
    border-radius: 5px;
    outline: none;
    text-align: right;
    padding: 2px 5px;    
}

.FormTable input[type="submit"]{
    margin: 20px auto 0;
    display: block;
    width: 150px;
    font-size: 20px;
    background-color: #59B259;    
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
}

#patientList {
    border-collapse: collapse;
    display :grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;

}
#patientList>div{
    border: 1px solid #ddd;

    text-align: center;
    background-color: #54BEE3;
    color: white;

    /*padding: 8px;*/

}
#patientItem{
    border-collapse: collapse;
    display :grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
#patientItem>div{
    border: 1px solid #ddd;


}
.invoiceDetail>div{
    text-align: center;
    background-color: #54BEE3;
    color: white;

}
#billingList{
    border-collapse: collapse;
    display :grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
#billingList>div{
    border: 1px solid #ddd;
    background-color: #54BEE3;
    color: white;
    /*padding: 8px;*/

}
#billingInfoList{
    border-collapse: collapse;
    display :grid;
    grid-template-columns: 33% 33% 33% ;
}
#billingInfoList>div{
    border: 1px solid #ddd;
}
