/* 
    Created on : Dec 15, 2020, 4:42:16 PM
    Author     : Jamie
*/

.data-num {
    font-style: italic;
    color: forestgreen;
}

.FormTable table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

.FormTable th {
    text-align: center;
    background-color: lightseagreen;
    color: white;
}

.FormTable td, .FormTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr.changed {
    background-color: lightgreen;  
}

#cancel-surgery td:nth-child(4),
#staff-table td:nth-child(6){
    text-align: right;
}

.FormTable td:first-child,
.FormTable td:last-child,
#staff-table td:nth-child(5),
#staff-table td:nth-child(7){
    text-align: center;
}

#staff-table td:nth-child(5){
    text-transform: capitalize;
}

#staff-table input[type="number"] {
    width: 85px;
    border: none;
    background-color: #E1E8F6;
    border-radius: 5px;
    outline: none;
    text-align: right;
    padding: 2px 5px;    
}

/*.FormTable input[type="submit"]{
    margin: 20px auto 0;
    display: block;
    width: 150px;
    font-size: 20px;
    background-color: #59B259;    
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
}*/

.FormTable .staff-buttons {
    margin: 30px auto 0;
    display: table;
    font-size: 18px;
}

.staff-buttons *{
    width: 150px;
    background-color: #59B259;    
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
}

.staff-buttons button {
    background-color: lightgrey;
    margin-right: 30px;
    outline: none;
}

#patientList {
    border-collapse: collapse;
    display :grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}
#patientList>div{
    border: 1px solid #ddd;
    /*padding: 8px;*/

}
#billingList{
    border-collapse: collapse;

    display :grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
#billingList>div{
    border: 1px solid #ddd;
    /*padding: 8px;*/

}
#billingInfoList{
     border-collapse: collapse;

    display :grid;
    grid-template-columns: 33% 33% 33% ;
}
#billingInfoList>div{
    border: 1px solid #ddd;
}


#edit-staff-address-button {
    
}