<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db_name</param-name>
        <param-value>assignment</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.DatabaseListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>model.dbHandler.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Login.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpClient</servlet-name>
        <servlet-class>Login.SignUpClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployees</servlet-name>
        <servlet-class>model.Admin.AddEmployees</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpClient</servlet-name>
        <url-pattern>/SignUpClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployees</servlet-name>
        <url-pattern>/AddEmployees</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/viewer/Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
