<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db_name</param-name>
        <param-value>assignment</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.DatabaseListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>model.dbHandler.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.entry.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.entry.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpClient</servlet-name>
        <servlet-class>controller.entry.SignUpClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff</servlet-name>
        <servlet-class>controller.admin.Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Documents</servlet-name>
        <servlet-class>controller.admin.Documents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.entry.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clients</servlet-name>
        <servlet-class>controller.admin.Clients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostcodeLookup</servlet-name>
        <servlet-class>controller.common.PostcodeLookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.client.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSchedule</servlet-name>
        <servlet-class>controller.admin.StaffSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSurgery</servlet-name>
        <servlet-class>controller.doctor.BookSurgery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointment</servlet-name>
        <servlet-class>controller.client.BookAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAppointment</servlet-name>
        <servlet-class>controller.client.ManageAppointment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpClient</servlet-name>
        <url-pattern>/SignUpClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff</servlet-name>
        <url-pattern>/Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Documents</servlet-name>
        <url-pattern>/Documents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clients</servlet-name>
        <url-pattern>/Clients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostcodeLookup</servlet-name>
        <url-pattern>/PostcodeLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSchedule</servlet-name>
        <url-pattern>/StaffSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSurgery</servlet-name>
        <url-pattern>/BookSurgery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointment</servlet-name>
        <url-pattern>/BookAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAppointment</servlet-name>
        <url-pattern>/ManageAppointment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!--<welcome-file>/Login.html</welcome-file>-->
        <welcome-file>/viewer/Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
